[submodule "juejin_p3"]
	path = juejin_p3
	url = git@github.com:songjianzaina/juejin_p3.git
[submodule "juejin_p2"]
	path = juejin_p2
	url = git@github.com:songjianzaina/juejin_p2.git
[submodule "juejin_p1"]
	path = juejin_p1
	url = git@github.com:songjianzaina/juejin_p1.git
[submodule "juejin_p4"]
	path = juejin_p4
	url = git@github.com:songjianzaina/juejin_p4.git
